@import url(https://fonts.googleapis.com/css?family=Patrick+Hand+SC);

#start{
    margin-left: 70%;
}

#ball{
    display: none;
    position: absolute;
    margin-bottom: 150px;
    background: url(./img/ship3.png) no-repeat;
    width: 99px;
    height: 99px;
}

#myCanv{
    position: relative;
    border: none;
    height: 500px;
    width: 800px;
    background-image: url(./img/treasureMap.png) no-repeat;
}
#video{
    display: none;
    position: absolute;
    opacity: 0.5;

}
#book{
    display: none;
    position: absolute;
    /*margin-left: 63%;
    margin-top: -435px;*/
    width: 760px;
    height: 600px;
}
.items{
    display: none;
    position: relative;
    height: 100px;
    width: 150px;
    cursor:pointer;
}
#battle_ship{
    width: 100px;
    height: 90px;
}
#bok{
    width: 90px;
    height: 26px;
}
#parrot {
    width: 60px;
    height: 70px;
}

#chest{
    width: 70px;
    height: 60px;
}
#flag{
    width: 65px;
    height: 70px;
}
#tree{
    width: 100px;
    height: 110px;
}
#gun{
    width: 80px;
    height: 70px;
}
#map{
    width: 66px;
    height: 55px;
}

#friend{
    width: 30px;
    height: 80px;
}

#choice{
    margin-left: 60%;
    margin-top: -490px;
}

.shadow{
    filter:drop-shadow(10px 10px 10px black);
    opacity: 0.7;
}

.pop-outer{
    background-color: rgba(0, 0 , 0, 0.5);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
.pop-inner{
    background: url(./img/paper2.png) no-repeat;
    width: 500px;
    height: 500px;
    padding: 25px;
    margin-left: 35%;
    margin-top: 10%;
}
.pop-inner1{
    background: url(./img/treasure.gif) no-repeat;
    width: 500px;
    height: 500px;
    padding: 25px;
    margin-left: 35%;
    margin-top: 10%;
}
.pop-outer1{
     background-color: rgba(8, 57, 82, 0.7);
     position: fixed;
     top: 0;
     left: 0;
     width: 100%;
     height: 100%;
 }

h2{
    margin-top: 20%;
    margin-left: 35%;
}
#firstH2{
    margin-left: 20%;
}
#secH2{
    margin-left: 0%;
}


p{
    margin-left: 5%;
    line-height: 1.5;
}

.storyBtn{
    margin-left: 30%;
    margin-top: 10%;
}
#btn1{
    margin-left: 40%;
}
#btn2{
    margin-left: 35%;
    margin-top: 5%;

}

.close{
    margin-left: -15%;
    margin-top: -40%;
}

#finalTreasure{
    display: none;
    position: relative;
    background-color: rgba(0, 0 , 0, 0.5);
}

.joke{
    display: none;
}

body{
}
p{
    font-family: 'Syne Tactile', cursive;
}




/* PICTURES
https://pngtree.com/freepng/pirate-ship-and-treasure-map_1970874.html
https://pngtree.com/freepng/pirates-elements_783684.html





